[project]
	description = The Dashboard displays vehicle information in a presentable and easy to visualize way.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/clambers
[access "refs/for/refs/*"]
	read = group user/clambers
	push = group user/clambers
	label-Code-Review = -2..+2 group user/clambers
	label-Verified = -1..+1 group user/clambers
	rebase = group user/clambers
	removeReviewer = group user/clambers
	submit = group user/clambers
[access "refs/heads/*"]
	read = group user/clambers
	create = group user/clambers
	push = +force group user/clambers
	pushMerge = group user/clambers
[access "refs/tags/*"]
	push = +force group user/clambers
	pushTag = group user/clambers
	pushSignedTag = group user/clambers
