[project]
	description = The Dashboard displays vehicle information in a presentable and easy to visualize way.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group pdxostc-management
	owner = group user/Chris Lamberson (clambers)
[access "refs/for/refs/*"]
	read = group user/Chris Lamberson (clambers)
	push = group user/Chris Lamberson (clambers)
	label-Code-Review = -2..+2 group user/Chris Lamberson (clambers)
	label-Verified = -1..+1 group user/Chris Lamberson (clambers)
	rebase = group user/Chris Lamberson (clambers)
	removeReviewer = group user/Chris Lamberson (clambers)
	submit = group user/Chris Lamberson (clambers)
[access "refs/heads/*"]
	read = group user/Chris Lamberson (clambers)
	create = group user/Chris Lamberson (clambers)
	push = +force group user/Chris Lamberson (clambers)
	pushMerge = group user/Chris Lamberson (clambers)
[access "refs/tags/*"]
	push = +force group user/Chris Lamberson (clambers)
	pushTag = group user/Chris Lamberson (clambers)
	pushSignedTag = group user/Chris Lamberson (clambers)
